<div style="background-color:#ccc">
 <h2 style="color:red;">DROPOUT SUMMARY</h2>
 <p>
  <b>From date::</b> <%= @f_date %>
  <br/>
  <b>To Date::</b> <%= @t_date %>
  <br/>
  <b>Total No of DROPOUTS::</b> <%= @dropcount%>
  <br/>
  <b>Record with changed status::</b> <%= @status%>
  <hr>
 </p>
 <p>
 ENV MODE::<%= ENV["MODE"]%>
 </p>
</div>
