 <div style="background-color:#ccc">
  <h2 style="color:red;">Transaction Dropout</h2>
   <div style="padding:20px">
    <h3>Details</h3>
    <div>
     <table>
	<tr>
         <td><b>Start Date:</b></td>
	 <td><%= @f_date%></td>
        </tr>

	<tr>
	 <td><b>End Date:</b></td>
	 <td><%= @t_date%></td>
	</tr>
	
        <tr>
         <td><b>Total No. of Records Parsed from billbharo:</b></td>
         <td><%= @total%></td>
        </tr>
        
        <tr>
         <td><b>Total No. of dropouts:</b></td>		
         <td><%= @dropcount%></td>	
      </table>
     </div>
     <h3>Dropout Transaction Summary</h3>
     <p><b>Order ID: </b><%= @scrap.order_id %></p>
     <p><b>Order Amount:</b> <%= @scrap.order_amt %></p>
     <p><b>Payment Mode:</b> <%= @scrap.payment_mode %></p>
     <p><b>Customer Name:</b> <%= @scrap.cust_name %></p>
     <p><b>Customer Phone:</b> <%= @scrap.cust_phone %></p>
     <p><b>Customer Address:</b> <%= @scrap.cust_addr %></p>
     <p><a href="http://billbharo.com/milaap/checkorders.php?fromdate=<%= @f_date%>&todate=<%= @t_date%>&Submit=Search+Orders#">Details</a></p>
    </div>
    <p>
     ENV MODE::<%= ENV["MODE"]%>
    </p>

</div>
