<h2><%= @sub %></h2>
<p>
From date:: <%= @f_date %>
<br/>
To Date:: <%= @t_date %>
<hr>
Total No of records parsed from billbharo:: <%= @total%>
<br/>
Total No of records saved:: <%= @saved%>
<br/>
Total No of records failed to save:: <%= @failed%>
<br/>
Total No of records with changed status:: <%= @conflict%>
<br/>
Total No of records Already Exist:: <%= @found%>
<br/>
Total No of DROPOUTS:: <%= @dropcount%>

</p>

<p>
ENV MODE::<%= ENV["MODE"]%>
</p>
